.container {
  /* width: 70%; */
  margin: 0 auto;
  text-align: center;
  height:fit-content;
}

.dice {
  /* text-align: center; */
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1, .result{
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 3rem;
  color: #4ECCA3;
}

p, button {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}
button{
  height:3rem;
  display:block;
  margin:3% auto;
  padding: 0 4em;
  background-color:blueviolet;
}
.result{
  margin-top:3%;
}
footer {
  margin-top: 2%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
